.modal-dialog {
    max-width: 850px;
    margin: 1.75rem auto
}

.scrollable-x {
    width: 100%;      /* or any desired width */
    overflow-x: auto; /* enables scrolling on the x-axis */
    white-space: nowrap; /* prevents line breaks to allow horizontal scrolling */
}


.scrollable-y {
    overflow-y: auto;
    max-height: 100vh;
}

.container {
    display: flex;
}

.col-3, .col-9 {
    border: 1px solid #ccc;
    padding: 10px;
}

.drag {
    padding: 10px;
    margin-bottom: 5px;
    cursor: grab;
    user-select: none; 
    
}

.drag:hover{
    background-color: #f0f0f0;
}


.drag:active {
    cursor: grabbing;
}

.drop-zone {
    border: 2px dashed #ccc;
    min-height: 40px;
}

.drop-hover {
    background-color: green;
}



